extends ../layout

block content
	h1.
		User
	p User Id  #{blob._id}
	p Name: #{blob.name}
	p Device: #{blob.device}
	p OS: #{blob.os}    
	p DOB: #{blobdob}
	p Timestamp: #{blob.timestamp}
	p Notes: #{blob.notes}
